body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #4b9ac0;
    color: #fff;
}

.title {
    font-weight: 700;
    line-height: 1.5;
    font-size: 2.3rem;
    padding: 2% 5%;
}

.desc {
    font-weight: 300;
}

.sub-section {
    background-color: #1e81b0;
    padding: 2% 8% 1px;
}

/* Introduction */
#introduction {
    background-color: #18678d;
    padding: 2% 8%;
}

.profile-pic {
    max-height: 50%;
}

.intro-text {
    padding: 50px;
    font-size: 1.2rem;
}

#profile-pic {
    border-radius: 100%;
    width: 90%;
    height: auto;
    object-fit: cover;
}

.profile-name {
    font-weight: 900;
    line-height: 1.5;
    font-size: 3rem;
}


/* Education */
.edu-text {
    font-size: 1.2rem;
}

.school {
    padding: 2% 5%;
}

.school-title {
    font-size: 1.2rem;
    font-weight: 500;
}

@media (max-width: 1028px) {
    .edu-text {
        font-size: 1rem;
    }
}

/* Work Experience */
.table-div {
    padding: 0 3% 2%;
}

.work-exp-table {
    font-weight: 300;
    color: #fff;
}

/* Skills */
#skills {
    padding-bottom: 2%;
}

.skill-name {
    text-align: left;
    padding: 0 5%;
}